[mysqld]
sql_mode=NO_ENGINE_SUBSTITUTION
skip-name-resolve
max_connections=20
thread_cache_size=2
table_open_cache=128
table_definition_cache=64
performance_schema=OFF
key_buffer_size=8M
sort_buffer_size=256K
read_buffer_size=128K
read_rnd_buffer_size=256K
join_buffer_size=128K
thread_stack=192K
max_allowed_packet=16M
query_cache_type=0
query_cache_size=0
innodb_buffer_pool_size=64M
innodb_buffer_pool_instances=1
innodb_log_buffer_size=4M
innodb_log_file_size=16M
innodb_flush_method=O_DIRECT
innodb_flush_log_at_trx_commit=2
